@import url(fonts.css);

* {
    color: #272727;
    font-family: League Spartan;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

p {
    color: #161515;
    /*var(--, #161515) Почему это не применяется???*/
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    text-decoration: none;
}

img {
    height: 100%;
    object-fit: cover;
}

form {
    padding: 0;
    margin: 0;
}

main {
    padding: 0;
    margin: 0;
}

footer {
    padding: 0;
    margin: 0;
}

.model {
    color: #161515;
    /*var(--, #161515) Почему это не применяется???*/
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
}

.text {
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 155%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    min-width: 100%;
    background: #F8F8F8;
    overflow: hidden;
}

.header {
    padding-bottom: 170px;
}

.container {
    width: 1064px;
    height: 100%;
    margin: 0 auto;
}

.header__desc {
    vertical-align: bottom;
    width: max-content;
    display: inline-block;
    margin-right: 29px;
}

.header__model {
    margin-bottom: 53px;
}

.title {
    font-size: 250px;
    font-weight: 300;
    margin-bottom: 23px;
}

.header__text {
    width: 575px;
    margin-bottom: 54px;
}

.buy {
    display: flex;
    align-items: center;
}

.buy__link {
    background: #161515;
    color: #FFF;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    padding: 26px 74px;
}

.buy__price {
    background: #FFF;
    box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    padding: 26px 32px;
}

.header__img-wrap {
    display: inline-block;
    vertical-align: bottom;
    width: 408px;
    height: 728px;
}

/* ---------------- 2 ----------------- */

.models-options {
    padding-top: 43px;
}

.models-options__head-desc {
    width: max-content;
    height: max-content;
    margin: 0 auto;
}

.models-options__label {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 186%;
}

.models-options__title {
    color: #000;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.5%;
}

.models-options__info {
    width: 531px;
    margin: 0 auto;
}

.section {
    min-height: 100%;
    min-width: 100%;
    margin-top: 84px;
}

.section__watch-container {
    width: 417px;
    height: 630px;
    background-color: #F8F8F8;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-container {
    width: 286px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__description {
    /* width: 100%; */
    /* height: 100%; */
    margin-top: 67px;
}

.subtitle {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.section__text {
    text-align: center;
}

/* ------------------3 - footer--------------------- */

.footer {
    min-height: 481px;
    padding-top: 59px;
}

.footer__header {
    width: max-content;
    height: max-content;
    margin: 0 auto;
}

.footer__hr {
    color: #707070;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 49px;
}

.footer__desc {
    width: max-content;
    height: max-content;
    max-width: 515px;
    margin: 0 auto;
}

.footer__title {
    color: #161515;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 186%;
    /* 59.52px */
    text-transform: capitalize;
}

.footer__text {
    color: #161515;
    text-align: center;
    font-size: 24px;
    line-height: 170%;
    /* 40.8px */
}

.footer__span {
    color: #BB8B5D;
    font-weight: 500;
    text-decoration-line: underline;
}